.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.logo {
  max-width: 200px;
}

.logo img {
  width: 100%;
}

.vakitler {
  margin: 30px 0;
}
